@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range supported */
  font-style: oblique 0deg 10deg; /* Optional slant */
}

@theme {
  /* spacing */
  --spacing-7.5: 1.875rem;
  --spacing-10.5: 2.625rem;
  --spacing-12.75: 3.188rem;
  --spacing-15: 3.75rem;
  --spacing-15.5: 3.813rem;
  --spacing-21: 5.25rem;
  --spacing-22: 5.5rem;
  --spacing-26.75: 6.688rem;
  --spacing-28.75: 7.188rem;
  --spacing-116.25: 29.063rem;
  --spacing-162.25: 40.625rem;
  --spacing-184.25: 46.063rem;
  --spacing-348: 87rem;

  /* rounded */
  --radius-8.75: 2.188rem;
  --radius-25: 6.25rem;

  --colors-gradient: linear-gradient(
    90deg,
    rgba(214, 252, 254, 0.25) 0%,
    #d6e6fe 100%
  );

  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-500: #5e6e85;
  --color-grey-300: #acc1de;
  --color-blue-900: #253347;
  --color-blue-500: #345ff6;
  --color-blue-300: #b3d3f1;
  --color-blue-100: #e1e7fe;

  /* text format */
  --text-preset-1: 4rem;
  --text-preset-1--line-height: 1.1;
  --text-preset-1--letter-spacing: -0.2rem;
  --text-preset-1--font-weight: 600;

  --text-preset-2: 3rem;
  --text-preset-2--line-height: 1.1;
  --text-preset-2--letter-spacing: -0.15rem;
  --text-preset-2--font-weight: 600;

  --text-preset-3: 2rem;
  --text-preset-3--line-height: 1.1;
  --text-preset-3--letter-spacing: -0.1rem;
  --text-preset-3--font-weight: 600;

  --text-preset-4: 1.5rem;
  --text-preset-4--line-height: 1.2;
  --text-preset-4--letter-spacing: -1.2px;
  --text-preset-4--font-weight: 600;

  --text-preset-5: 1.25rem;
  --text-preset-5--line-height: 1.2;
  --text-preset-5--letter-spacing: calc(-5% * var(--text-preset-5));
  --text-preset-5--font-weight: 600;

  --text-preset-6: 1rem;
  --text-preset-6--line-height: 1.5;

  --text-preset-7: 0.875rem;
  --text-preset-7--line-height: 1.5;

  /* container */
  --container-header-mobile: 20.5rem;
}

body {
  background: var(--color-white);
  color: var(--color-grey-500);
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--color-blue-900);
}

.bg-gradient {
  background: linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, #d6e6fe 100%);
}

.bg-gradient-25 {
  background: linear-gradient(
    90deg,
    rgba(214, 252, 254, 0) 0%,
    rgba(214, 230, 254, 0.25) 100% /* 25% opacity */
  );
}

.custome-shadow {
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}

.rounded-left-24-right-full {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
