@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range supported */
  font-style: oblique 0deg 10deg; /* Optional slant */
}

@theme {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-500: #5e6e85;
  --color-grey-300: #acc1de;
  --color-blue-900: #253347;
  --color-blue-500: #345ff6;
  --color-blue-300: #b3d3f1;
  --color-blue-100: #e1e7fe;

  /* text format */
  --text-preset-1: 4rem;
  --text-preset-1--line-height: 1.1;
  --text-preset-1--letter-spacing: -0.2rem;
  --text-preset-1--font-weight: 600;

  --text-preset-2: 3rem;
  --text-preset-2--line-height: 1.1;
  --text-preset-2--letter-spacing: -0.15rem;
  --text-preset-2--font-weight: 600;

  --text-preset-3: 2rem;
  --text-preset-3--line-height: 1.1;
  --text-preset-3--letter-spacing: -0.1rem;
  --text-preset-3--font-weight: 600;

  --text-preset-4: 1.5rem;
  --text-preset-4--line-height: 1.2;
  --text-preset-4--letter-spacing: calc(-5% * var(--text-preset-4));
  --text-preset-4--font-weight: 600;

  --text-preset-5: 1.25rem;
  --text-preset-5--line-height: 1.2;
  --text-preset-5--letter-spacing: calc(-5% * var(--text-preset-5));
  --text-preset-5--font-weight: 600;

  --text-preset-6: 1rem;
  --text-preset-6--line-height: 1.5;

  --text-preset-7: 0.875rem;
  --text-preset-7--line-height: 1.5;
}

body {
  background: var(--color-white);
  color: var(--color-grey-500);
  font-family: 'Inter', sans-serif;
}
